.border {
  background-color: navajowhite;
  max-width: 40%;
  height: 120px;
  margin: 30px;
}
.content {
  background-color: black;
  margin: 5px 5px;
  padding: 7px;
  max-width: inherit;
  outline-style: out;
  opacity: 0.5;
  text-align: center;
}
p {
  color: white;
  padding: 10px;
}
